.Background_Vid_Aespa {
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1; 
}
.Video_Dim {
  height: 100vh;
  width: inherit;
  color: rgba(0, 0, 0, 0.315);
}
video {
  height: 100vh;
  width: inherit;
  object-fit: cover;
  object-position: center;
}
#video{
  height: 100vh;
}
.Background{
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
iframe {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}
#media-container{
  height: inherit;
  width: inherit;
}
.VideoBackgroundControllBlocker{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  background-color: black;
}