.BandName {
  display: inline-block;
  color: #fff;
  font-size: 60pt;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 20px;
  word-break: keep-all;
}
.Header_Text_Aespa {
  height: 300px;
  width: 900px;
  padding: 250px;
  position: absolute;
  z-index: 1;
}
.LatestMusicVideo {
  color: rgba(255, 255, 255, 0.8);
  font-size: 83px;
}
