.homepagebody{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
}
.Kwangyapicrendertarget{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    /* background: url("/static/media/kwangya.png"); */
}
#App{
    position: absolute;
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    width: 100%;
}